/*fonts*/

@font-face {
    font-family: 'Schibsted Grotesk';
    font-style: normal;
    font-weight: 400 900;
    src: url(fonts/SchibstedGrotesk-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'Schibsted Grotesk';
    font-style: italic;
    font-weight: 400 900;
    src: url(fonts/SchibstedGrotesk-Italic-VariableFont_wght.ttf) format(truetype);
}

/*variables*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    --schibsted-grotesk: 'Schibsted Grotesk', Helvetica, Arial, sans-serif;
    --black: #19131A;
    --white: #FFFFFF;
    --green: #4A5E4A;
    --orange: #D57A66;

    background-color: var(--white);
}

/*text*/

h1 {
    color: var(--black);
    font-family: var(--schibsted-grotesk);
    font-size: 20vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0%;
    margin: 10vw;
    margin-top: 20vw;
}

h2 {
    color: var(--black);
    font-family: var(--schibsted-grotesk);
    font-size: 5vw;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

h3 {
    color: var(--black);
    font-family: var(--schibsted-grotesk);
    font-size: max(24px, 3vw);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
}

h4 {
    color: var(--black);
    font-family: var(--schibsted-grotesk);
    font-size: max(16px, 1.5vw);
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

p, ul {
    color: var(--black);
    font-family: var(--schibsted-grotesk);
    font-size: max(14px, 1.25vw);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    text-transform: lowercase;
}

a {
    font-family: var(--schibsted-grotesk);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

/*navigation*/

.navigation {
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 600px) {
    .navigation {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        padding-bottom: 2rem;
    }
}

.navigation a {
    color: var(--green);
    display: block;
    float: left;
    font-size: max(20px, 2vw);
    padding: 0.5rem;
}

@media (min-width: 900px) {
    .navigation a {
        padding: 0.5rem 0.75rem;
    }
}

.navigation .logo {
    color: var(--orange);
}

/*search bar*/

.search-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

@media (max-width: 600px) {
    .search-container {
        margin-top: 0;
    }
}

.search-container h3 {
    margin-bottom: 1.5rem;
}

input[type=text] {
    border: 2px solid var(--green);
    font-size: max(16px, 1.5vw);
    margin-left: 0.25rem;
    padding: 0.5rem;
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 1rem;
    width: 60%;
}

.search-box button {
    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
    cursor: pointer;
    border-left: none;
    font-size: max(20px, 2.25vw);
    padding: 0.5rem 1rem;
}

.search-text::placeholder {
    color: var(--orange);
    font-family: var(--schibsted-grotesk);
    font-style: italic;
    font-weight: 400;
}

/*recipe grid*/

.recipes-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

@media (min-width: 600px) {
    .recipes-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .recipes-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*recipe card*/

.recipe-card {
    background-color: var(--white);
    border: 1px solid var(--green);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.recipe-card:hover {
    background-color: var(--green);
    transform: translateY(-2px);
}

.recipe-card img {
    height: auto;
    width: 100%;
}

.recipe-card-text {
    padding: 0.75rem;
}

.recipe-card-text h4 {
    color: var(--green);
    font-size: max(2vw, 18px);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
}

@media (min-width: 900px) {
    .recipe-card-text h4 {
        font-size: max(1.5vw, 16px);
    }
}

.recipe-card-text p {
    color: var(--green)
}

.recipe-card:hover h4, .recipe-card:hover p {
    color: var(--white);
}

/*recipe page*/

.recipe-stats {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe-stats img {
    width: 80%;
}

.cook-time {
    display: flex;
    flex-direction: row;
}

/**/

@media (width <= 600px) {
    .main-image {
        height: 60vw;
        padding-right: 3vw;
    }
}

.hero-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 2;
}

.hero-block h4 {
    font-size: max(1.25vw, 14px);
    margin: 0;
    margin-bottom: 3vw;
}

.help-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    position: relative;
    width: 100%;
}

.help-block p {
    max-width: 60%;
}

.fork {
    filter: invert(59%) sepia(51%) saturate(434%) hue-rotate(323deg) brightness(84%) contrast(98%);
    position: absolute;
    right: 37vw;
    rotate: 206deg;
    top: -5vw;
    width: 25vw;
    z-index: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-image {
    height: 40vw;
    padding-right: 3vw;
}